{% load static %}
<!-- Packages Section Start -->
<section class="packages" id="packages">
    <div class="main-txt">
        <h3>Packages</h3>
    </div>

    <div class="card-content">
        <div class="row">
            <img src="united state.png" alt="">
            <div class="card-body">
                <h3>United States</h3>
                <p>According to the U.S. government, there are more than 35,000 museums in the United States. From science centers to historical monuments, art galleries to war memorials, you’ll find a museum to explore no matter where you are in the country.</p>
               <!-- 5-star rating -->
                <div>
                 <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star-half-alt" style="color: rgb(248, 202, 22);"></span>
                  <span class="far fa-star" style="color: rgb(248, 202, 22);"></span>
                 </div>

                <h5>Price $699</h5>
                <button>Book Now</button>
            </div>
        </div>
        <div class="row">
            <img src="jordan.png" alt="">
            <div class="card-body">
                <h3>Jordan</h3>
                <p>The Middle East is a stunning and interesting region to visit that is still relatively unexplored by many travelers. Although it has experienced permanent turmoil, there are many countries in the Gulf where it is safe to travel. Besides these ones, Jordan has always been tourist-friendly and promoted the local culture as a true, authentic experience.</p>
                  <!-- 5-star rating -->
                  <div>
                    <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star-half-alt" style="color: rgb(248, 202, 22);"></span>
                    </div>
                <h5>Price $230</h5>
                <button>Book Now</button>
            </div>
        </div>
        <div class="row">
            <img src="china.png" alt="">
            <div class="card-body">
                <h3>China</h3>
                <p>If you are looking for a destination that is exotic, packed full of new sights and experiences, stimulating, and over all different, China is best in the world. China isn't a place where you just go to enjoy a vacation — it is a destination where you can discover a country that's vastly different from your own.</p>
                  <!-- 5-star rating -->
                  <div>
                    <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star-half-alt" style="color: rgb(248, 202, 22);"></span>
                     <span class="far fa-star" style="color: rgb(248, 202, 22);"></span>
                    </div>
                <h5>Price $800</h5>
                <button>Book Now</button>
            </div>
        </div>
        <div class="row">
            <img src="Mexico.png" alt="">
            <div class="card-body">
                <h3>Mexico</h3>
                <p>
                    View
                    
                    Mexico is one of the year’s hottest destinations, what with its secret island escapes, Caribbean coastline and cosmopolitan capital city, as well as its thriving restaurant scene and quirky colonial towns that are ideal for day trips.</p>
                  <!-- 5-star rating -->
                <div>
                 <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                 </div>
                <h5>Price $680</h5>
                <button>Book Now</button>
            </div>
        </div>
        <div class="row">
            <img src="france.png" alt="">
            <div class="card-body">
                <h3>France</h3>
                <p>France is known for its incredible and glamorous cities and life. You will undoubtedly fall in love with Paris as well as Nice, Cannes, Marseille, Lyon, and Bordeaux.</p>
                  <!-- 5-star rating -->
                <div>
                 <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star-half-alt" style="color: rgb(248, 202, 22);"></span>
                  <span class="far " style="color: rgb(248, 202, 22);"></span>
                  <span class="far fa-star" style="color: rgb(248, 202, 22);"></span>
                 </div>
                <h5>Price $599</h5>
                <button>Book Now</button>
            </div>
        </div>
        <div class="row">
            <img src="Greece.png" alt="">
            <div class="card-body">
                <h3>Greece</h3>
                <p>If you have never been to Greece, you must rectify this heresy. Whether you are a history buff or not, Greece is home to marvellous monuments and UNESCO heritage sites.</p>
                  <!-- 5-star rating -->
                <div>
                 <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star-half-alt" style="color: rgb(248, 202, 22);"></span>
                  <span class="far fa-star" style="color: rgb(248, 202, 22);"></span>
                 </div>
                <h5>Price $459</h5>
                <button>Book Now</button>
            </div>
        </div>
        <div class="row">
            <img src="Spain.png" alt="">
            <div class="card-body">
                <h3>Spain</h3>
                <p>Spain really does have it all, from incredible landscapes and beaches, to world-famous cuisine and rich history – not to mention fantastic museums and striking architecture.</p>
                  <!-- 5-star rating -->
                <div>
                 <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star-half-alt" style="color: rgb(248, 202, 22);"></span>
                  <span class="far fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="far fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="far fa-star" style="color: rgb(248, 202, 22);"></span>
                 </div>
                <h5>Price $300</h5>
                <button>Book Now</button>
            </div>
        </div>
        <div class="row">
            <img src="Turkey.png" alt="">
            <div class="card-body">
                <h3>Turkey</h3>
                <p>Crystal clear waters, tall mountains, the ruins of ancient empires small idyllic villages, huge cosmopolitan cities – there are so many reasons why you should stay in Turkey. Here, Culture Trip takes a look at some of the best.</p>
                  <!-- 5-star rating -->
                <div>
                 <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                  <span class="fa fa-star-half-alt" style="color: rgb(248, 202, 22);"></span>
                 </div>
                <h5>Price $350</h5>
                <button>Book Now</button>
            </div>
        </div>
    </div>

</section>
<!-- Packages Section End -->

