{% load static %}
{% include 'main/nav.html' %}
{% block contant %}
<!-- Gallary Section Start -->
<section class="gallary" id="gallary">
    <div class="heading">
        <h3>OUR GALLARY <i class="fa-solid fa-arrow-down"></i></h3>
    </div>

    <div class="gallary-card">
        {% for img in object_list %}
        <div class="row">
            <img src="{{img.img.url}}" alt="{{default}}">
        </div>
        {% endfor %}
    </div>
</section>
<!-- Gallary Section End -->
{% endblock contant %}
{% include 'main/footer.html' %}