{% load static %}
{% include 'main/nav.html' %}
<!-- Home Section Start -->
<section class="home" id="home">
    <div class="main-text">
        <h3>Travel The World
            <br> & Explore The New Destination
        </h3>
    
    <p>The ultimate tool for business travel and family holiday</p>
    <a href="#packages"><button id="home-btn">PACKAGES <i class="fa-solid fa-arrow-down"></i><button id="home-btn2"><i class="fa-sharp fa-solid fa-circle-play"></i></button></button></a>
</div>
</section>
{% include 'main/footer.html' %}
<!-- Home Section End -->
