{% load static %}
{% include "main/nav.html" %}
{% block content %}
<!-- Packages Section Start -->
<section class="packages" id="packages">
    <div class="main-txt">
        <h3>Hotels</h3>
    </div>

    <div class="card-content">
        {% for card in object_list %}
        <div class="row">
            <img src="{{card.img.url}}" alt="{{default}}">
            <div class="card-body">
                <h3>{{card.name}}</h3>
                <p>{{card.des}}</p>
                <h5>Price {{card.price}}$</h5>
                <a href="{% url 'reservation' %}" class="btn btn-primary"><button>Book Now</button></a>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
<!-- Packages Section End -->
{% endblock content %}
{% include "main/footer.html" %}