{% load static %}
{% include "main/nav.html" %}
    <!-- Section Reviews Start -->
    <section class="reviews" id="reviews">
        <div class="main-txt">
            <h3>What Custommers Say</h3>
        </div>
        <div class="card-content">
            <div class="row">
                <h5><img src="{% static 'main/images/pic-1.png' %}" alt="">Matthieu Dervillez</h5>
                <!-- 5-star rating -->
                <div>
                    <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star-half-alt" style="color: rgb(248, 202, 22);"></span>
                    </div>
                <p>"Travel With Kaizee saves us a lot of time. We have so many different tasks to do in a single day! So if someone needs an urgent flight change, it'll be easy to change it. It's great!"</p>

            </div>
            <div class="row">
                <h5><img src="{% static 'main/images/pic-2.png' %}" alt="">Clara Rosa</h5>
                 <!-- 5-star rating -->
                 <div>
                    <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                    </div>
                <p>Always a good experience using this Site for accommodations. I find they have a great selection between private rentals and hotels; also, it is easy to see the different services offered by the host.</p>

            </div>
            <div class="row">
                <h5><img src=" {% static 'main/images/pic-3.png' %}" alt="">Matias Galland</h5>
                 <!-- 5-star rating -->
                 <div>
                    <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star" style="color: rgb(248, 202, 22);"></span>
                     <span class="fa fa-star-half-alt" style="color: rgb(248, 202, 22);"></span>
                     <span class="far fa-star" style="color: rgb(248, 202, 22);"></span>
                    </div>
                <p>Could be better. Should consider child policies because some hotels have age limits other than 12yo and I ended having to pay extra because the child is considered adult. Not the cheapest tho.</p>

            </div>
        </div>
    </section>
    <!-- Section Reviews End -->
    {% include "main/footer.html" %}


